<div class="row">
  <h1>Documentation</h1>
  <h3>Author: Rhys Williams</h3>
  <p>The Javascript libraries used in the creation of the DMS website are as follows</p>
  <ul>
    <li>AngularJs</li>
    <li>Angular.Ui</li>
    <li>Ng Facebook</li>
    <li>Angular Bootstrap Lightbox</li>
    <li>Facebook API Libary</li>
    <li>Bootstrap</li>
    <li>Webpack</li>
    <li>Lodash</li>
  </ul>
  <p>All javascript written for this assignment conforms to the most up to date JavaScript specification (EcmaScript 6+) however no current browser supports the litany of new and exciting features in EcmaScript 6. To enable myself to use the newest standard I've used WebPack to transpile all ES6 JavaScript to ES5 so that it may be run in modern browsers</p>
</div>
